## 1. The oldest business in the world
<p>BusinessFinancing.co.uk <a href="https://businessfinancing.co.uk/the-oldest-company-in-almost-every-country">researched</a> the oldest company that is still in business in (almost) every country and compiled the results into a dataset. In this project, you'll explore that dataset to see what they found.</p>
<p>The database contains three tables.</p>
<h3 id="categories"><code>categories</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>category_code</code></td>
<td>varchar</td>
<td>Code for the category of the business.</td>
</tr>
<tr>
<td style="text-align:left;"><code>category</code></td>
<td>varchar</td>
<td>Description of the business category.</td>
</tr>
</tbody>
</table>
<h3 id="countries"><code>countries</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>country_code</code></td>
<td>varchar</td>
<td>ISO 3166-1 3-letter country code.</td>
</tr>
<tr>
<td style="text-align:left;"><code>country</code></td>
<td>varchar</td>
<td>Name of the country.</td>
</tr>
<tr>
<td style="text-align:left;"><code>continent</code></td>
<td>varchar</td>
<td>Name of the continent that the country exists in.</td>
</tr>
</tbody>
</table>
<h3 id="businesses"><code>businesses</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>business</code></td>
<td>varchar</td>
<td>Name of the business.</td>
</tr>
<tr>
<td style="text-align:left;"><code>year_founded</code></td>
<td>int</td>
<td>Year the business was founded.</td>
</tr>
<tr>
<td style="text-align:left;"><code>category_code</code></td>
<td>varchar</td>
<td>Code for the category of the business.</td>
</tr>
<tr>
<td style="text-align:left;"><code>country_code</code></td>
<td>char</td>
<td>ISO 3166-1 3-letter country code.</td>
</tr>
</tbody>
</table>
<p>Let's begin by looking at the range of the founding years throughout the world.</p>

In [ ]:
%%sql 
postgresql:///oldestbusinesses
 
-- Select the oldest and newest founding years 

SELECT MIN(year_founded), MAX(year_founded) 
FROM businesses;

## 2. How many businesses were founded before 1000?

In [ ]:
%%sql

-- Get the count of rows in businesses where the founding year was before 1000

SELECT count(*) 
FROM businesses 
WHERE year_founded < 1000;

## 3. Which businesses were founded before 1000?

In [ ]:
%%sql

-- Select all columns where the founding year was before 1000

SELECT * 
FROM businesses 
WHERE year_founded < 1000 
ORDER BY year_founded;

## 4. Exploring the categories

In [ ]:
%%sql

-- Select business name, founding year, country code and category where the founding year was before 1000

SELECT business, year_founded, country_code, category 
FROM businesses 
JOIN categories ON businesses.category_code = categories.category_code
WHERE year_founded < 1000
ORDER BY year_founded;

## 5. Counting the categories

In [ ]:
%%sql

-- Select the category and count of category (as "n")

SELECT category, count(category) AS n 
FROM categories
JOIN businesses ON categories.category_code = businesses.category_code
GROUP BY category
ORDER BY n desc
LIMIT 10;

## 6. Oldest business by continent

In [ ]:
%%sql

-- Select the oldest founding year on each continent

SELECT min(year_founded) AS oldest, continent
FROM countries
JOIN businesses ON countries.country_code = businesses.country_code
GROUP BY continent
ORDER BY oldest;

## 7. Joining everything for further analysis

In [ ]:
%%sql

SELECT business, year_founded, category, country, continent
FROM businesses
JOIN countries ON businesses.country_code = countries.country_code
JOIN categories ON businesses.category_code = categories.category_code;

## 8. Counting categories by continent
</p> Which are the most common categories for the oldest businesses on each continent?</p>

In [ ]:
%%sql

-- Count the number of businesses in each continent and category

SELECT continent, category, count(business) AS n
FROM businesses
JOIN countries ON businesses.country_code = countries.country_code
JOIN categories ON businesses.category_code = categories.category_code
GROUP BY continent, category;

## 9. Filtering counts by continent and category
<p>Combining continent and business category led to a lot of results. It's difficult to see what is important. To trim this down to a manageable size, let's restrict the results to only continent/category pairs with a high count.</p>

In [ ]:
%%sql

-- Filtering for results having a count greater than 5

SELECT continent, category, count(business) AS n
FROM businesses
JOIN countries ON businesses.country_code = countries.country_code
JOIN categories ON businesses.category_code = categories.category_code
GROUP BY continent, category
HAVING count(business) > 5;