## 1. Inspecting the data
<p>Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a maximum score of 800 points. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.</p>
<p>Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. </p>
<p>Our database contains a single table:</p>
<h1 id="schools"><code>schools</code></h1>
<table>
<thead>
<tr>
<th>column</th>
<th>type</th>
<th>description</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>school_name</code></td>
<td><code>varchar</code></td>
<td>Name of school</td>
</tr>
<tr>
<td><code>borough</code></td>
<td><code>varchar</code></td>
<td>Borough that the school is located in</td>
</tr>
<tr>
<td><code>building_code</code></td>
<td><code>varchar</code></td>
<td>Code for the building</td>
</tr>
<tr>
<td><code>average_math</code></td>
<td><code>int</code></td>
<td>Average math score for SATs</td>
</tr>
<tr>
<td><code>average_reading</code></td>
<td><code>int</code></td>
<td>Average reading score for SATs</td>
</tr>
<tr>
<td><code>average_writing</code></td>
<td><code>int</code></td>
<td>Average writing score for SATs</td>
</tr>
<tr>
<td><code>percent_tested</code></td>
<td><code>numeric</code></td>
<td>Percentage of students completing SATs</td>
</tr>
</tbody>
</table>
<p>Let's familiarize ourselves with the data by taking a looking at the first few schools!</p>

In [ ]:
%%sql
postgresql:///schools
    
-- Display sample data
SELECT * 
FROM schools
LIMIT 10;

## 2. Finding missing values
<p>Identify how many schools have missing data for the <code>percent_tested</code> column, indicating schools that did not report the percentage of students tested. </p>
<p>To understand whether this missing data problem is widespread in New York, we will also calculate the total number of schools in the database.</p>

In [ ]:
%%sql

-- Count rows with percent_tested missing and total number of schools
SELECT COUNT(*) - COUNT(percent_tested) AS num_tested_missing, 
        COUNT(*) AS num_schools
FROM schools;

## 3. Schools by building code
<p>Now let's turn our attention to how many schools there are. Let's find out how many unique school locations exist in our database. </p>

In [ ]:
%%sql

-- Count the number of unique building_code values
SELECT count(distinct building_code) AS num_school_buildings
FROM schools;

## 4. Best schools for math
<p>Now let's start our analysis of school performance. 
<p>First, let's find all schools with an average math score of at least 80% (out of 800). </p>

In [ ]:
%%sql

-- Select school and average_math
SELECT school_name, average_math
FROM schools
WHERE average_math >= 640
OREDER BY average_math DESC;

## 5. Lowest reading score
<p>Now let's look at the other end of the spectrum and find the single lowest score for reading.

In [ ]:
%%sql

-- Find lowest average_reading
SELECT min(average_reading) AS lowest_reading
FROM schools;

## 6. Best writing school
<p>Now let's find the school with the highest average writing score.</p>

In [ ]:
%%sql

-- Find the top score for average_writing
SELECT school_name, max(average_writing) AS max_writing
FROM schools
GROUP BY school_name
ORDER BY max_writing DESC
LIMIT 1;

## 7. Top 10 schools
<p>What other schools are also excellent across the board? Let's look at scores across reading, writing, and math to find out.</p>

In [ ]:
%%sql

-- Calculate average_sat
SELECT school_name, 
        (average_math + average_reading + average_writing) AS average_sat
FROM schools
GROUP BY school_name
ORDER BY average_sat DESC
LIMIT 10;

## 8. Ranking boroughs
<p>Now let's analyze performance by New York City borough. </p>

In [ ]:
%%sql

-- Calculate the average scores across reading, writing, and math by boroughs
SELECT borough, 
        COUNT(*) as num_schools, 
        SUM(average_math + average_reading + average_writing) / COUNT(*) AS average_borough_sat
FROM schools
GROUP BY borough
ORDER BY average_borough_sat DESC;

## 9. Brooklyn numbers
<p>Let's find the top five schools for math performance on Brooklyn.</p>

In [ ]:
%%sql

-- Find the top five schools for math performance on Brooklyn
SELECT school_name, average_math
FROM schools
WHERE borough = 'Brooklyn'
GROUP BY school_name
ORDER BY average_math DESC
LIMIT 5;